<li>
  <a href="{{ book.url }}">
    <img src="../covers/{{ book.fileSlug }}.jpg" alt="" lazyload />
    <div>{{ book.language }} <strong>{{ book.data.title }}</strong> by {{ book.data.author }}</div>
  </a>
</li>
