<h2><span>{{ year }}</span></h2>
<span hidden>({{ collections[year].length }})</span>
<ul>
{%- for book in collections[year] -%}
{% if filterLanguage %}
  {% if book.data.language == filterLanguage %}
    {% include "book-preview.njk" %}
  {% endif %}
{% else %}
  {% include "book-preview.njk" %}
{% endif %}
{%- endfor -%}
</ul>