html {
  scroll-behavior: smooth;
}
body {
  background-color: lavenderblush;
  font: 100%/1.5 'Fira Sans', sans-serif;
  padding-top: 28vw;
}
@media (min-width: 50em) {
  body {
    padding-top: 0;
  }
  body.home {
    padding-top: 50vh;
  }
  body.home > aside {
    position: absolute;
    top: 1em;
    left: 3em;
  }
}
body.home > aside p:last-child {
  font-size: 80%;
  margin-top: 2em;
  font-style: italic;
}
a {
  color: currentColor;
}
a:hover {
  color: #555;
}
:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  box-shadow: 0 0 0 blue;
}
.visually-hidden {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.logo {
  font: 25vw/0 'Bungee Outline';
  white-space: nowrap;
  position: absolute;
  top: -9vw;
  left: 2vw;
}
.logo span {
  transform: rotate(-5deg);
  display: inline-block;
  color: #555;
}
@media (min-width: 50em) {
  .logo {
    position: sticky;
    font-size: 27vw;
    top: -4vw;
    left: 0;
    z-index: -1;
    margin-bottom: 0;
    margin-top: 12vw;
  }
  h2 {
    position: sticky;
    top: 2em;
    z-index: -1;
  }
}
.hiddedevriesnl {
  border: 0;
  border-radius: 100%;
  width: 3em;
  display: block;
}
  .hiddedevriesnl img {
    border-radius: 100%;
  }
h2 span {
  display: inline-block;
  background-color: black;
  color: white;
  padding: .25em .5em;
  width: max-content;
  z-index: 1;
  position: relative;
}
ul {
  padding: 0;
  display: grid;
  gap: 1em;
  align-items: start;
  overflow: auto;
  justify-content: start;
  grid-auto-flow: column;
  grid-auto-columns: 75vw;
}
@media (min-width: 50em) {
  ul {
    margin-left: 7em;
    justify-content: center;
    overflow: visible;
    grid-auto-flow: row;
    grid-template-columns: repeat(auto-fill, 10em);
  }
}
li {
  list-style: none;
  background-color: #444;
  color: white;
}
li:nth-child(odd) {
  margin-top: 1em;
}
li a {
  color: white;
  transition: all 0.2s ease-in-out;
}
li a:hover {
  color: #eee;
}
li img {
  width: 100%;
  display: block;
  background: #555;
  min-block-size: 16em;
}
li div,
li p {
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 90%;
}
li strong {
  display: block;
  font-size: 110%;
}
img {
  max-width: 100%;
}
nav {
  background-color: rgba(0, 0, 0, 0.6);
  padding: .5em 1em;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: .75em;
  margin: 0 -.5em;
  overflow: auto;
}
nav a {
  color: white;
  text-decoration: none;
  font-size: 90%;
  padding: .25em;
}
nav a:hover {
  color: #ddd;
}
nav a[aria-current="true"] {
  color: black;
  background-color: white;
}
nav::before {
  /* content: attr(aria-label); */
  /* display: block; */
  color: white;
  font-weight: bold;
}
@media (min-width: 50em) {
  nav {
    padding: .5em;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
  }
}
summary {
  list-style: none;
  cursor: pointer;
}
summary::-webkit-details-marker,
summary::marker
{
  list-style: none;
  display: none;
}
summary:hover img {
  transition: transform 0.2s;
  transform: scale(1.05);
}
summary:hover:focus img {
  transform: none;
}
summary:focus {
  outline-offset: -1px;
  box-shadow: 0px 0 0px 3px darkslategray;
}
