body {
  background-color: #b0b0b0;
  font: 100%/1.5 'Fira Sans', sans-serif;
}
:focus {
  outline: 2px solid currentColor;
  outline-offset: 2px;
  box-shadow: 0 0 0 blue;
}
.visually-hidden {
  position: absolute;
  left: -9999em;
  top: -9999em;
}
.logo {
  font: 27vw/0 'Bungee Outline';
  position: sticky;
  top: -4vw;
  left: 0;
  z-index: -1;
  margin-bottom: 0;
  margin-top: 12vw;
  white-space: nowrap;
}
.logo span {
  transform: rotate(-5deg);
  display: inline-block;
  color: #555;
}
h2 {
  position: sticky;
  top: 2em;
  z-index: -1;
}
h2 span {
  display: inline-block;
  background-color: black;
  color: white;
  padding: .25em .5em;
  width: max-content;
  z-index: 1;
  position: relative;
}
ul {
  padding: 0;
  margin-left: 7em;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, 10em);
  justify-content: center;
  align-items: start;
}
li {
  list-style: none;
  background-color: #444;
  color: white;
}
li:nth-child(odd) {
  margin-top: 1em;
}
li a {
  color: white;
  transition: all 0.2s ease-in-out;
}
li a:hover {
  color: #eee;
}
li img {
  width: 100%;
  display: block;
  background: #555;
}
li div,
li p {
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 90%;
}
li strong {
  display: block;
  font-size: 110%;
}
img {
  max-width: 100%;
}
nav {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  right: 0;
  padding: .5em;
}
nav a {
  color: white;
  text-decoration: none;
}
nav::before {
  content: attr(aria-label);
  display: block;
  color: white;
  font-weight: bold;
}
summary {
  list-style: none;
}
summary::-webkit-details-marker,
summary::marker
{
  list-style: none;
  display: none;
}
summary:focus {
  outline-offset: -1px;
}
