---
layout: base
title: Hidde's list of books
pageClass: home
---

<aside>
  <p>This is Hidde's public reading log.</p>
  <p>Ratings are personal, and slightly biased: if I finished it, I probably liked it. Books may be available in your language, too: I've listed the language I read it in.</p>
  <p><a href="#2020">2020</a> <span aria-hidden="true">・</span> <a href="#2019">2019</a> <span aria-hidden="true">・</span> <a href="#2018">2018</a> <span aria-hidden="true">・</span> <a href="#2017">2017</a> <span aria-hidden="true">・</span> <a href="https://github.com/hidde/books">Source code</a></p>
  <p>Copyright of book covers lies with their respective owners, displayed under fair use.</p>
</aside>
{% for year in years %}
{% include "year.njk" %}
{% endfor %}
