---
layout: base
title: Hidde's list of books
pageClass: home
---

<aside>
  <p>
    {% for year in years %}
    <a href="#{{ year }}">{{ year }}</a> <span aria-hidden="true">・</span> 
    {% endfor %}
    <a href="https://github.com/hidde/books">Source code</a>
  </p>
  <p>Copyright of book covers lies with their respective owners, displayed under fair use.</p>
</aside>

